@{
    ViewBag.Title = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    <div class="jumbotron">
        <h1>Welcome </h1>
        <p class="lead">Here you can bookmark all your important links!</p>
        <p><a href="/Links/Index" class="btn btn-primary btn-lg">Go &raquo;</a></p>
    </div>
}
else
{
    <div class="col-lg-9 col-md-8 col-sm-7">    
        <h2>I'm not logged in</h2>
    </div>
    <!--right column-->
    <div class="col-lg-3 col-md-4 col-sm-5"></div>
}



